//text colors

$main-black: #000000;

$light-green: #45FF58;
$dark-green: #188A24;

$main-orange: #FF5F04;
$light-orange: #FF9900;
$lighter-orange: #FFAA04;
$dark-orange: #863600;
$helper-orange: #F26E04;
$helper-orange-light: #FFC804;
$helper-orange-dark: #FF7905;

$main-gray: #C1B9B9;
$helper-gray: #F6F3ED;



