include ../helper-mixins/svg-mix

block teaser
    section.section
        .section__wrap
            .teaser
                .teaser__title
                    +svg-mix('lock')
                    h1 Стоимость кухни в 3-х комплектациях
