include ../icon/icon

block kitchen
    section.section
        .kitchen
            .kitchen__title
                h1 Современные Комфортные Кухни
                p с пожизненной гарантией
            .kitchen__trends Тренды дизайна кухни 2020 г.
            .kitchen__info
                img(src='img/arrow-down.png').kitchen__info-arrow
                .kitchen__info-image
                    img(src='img/cabinet.png').kitchen__info-image-cab
                    img(src='img/usability.png').kitchen__info-image-use
                .kitchen__info-block
                    .kitchen__info-title Максимальное использование<br> пространства и простота в уходе
                    ul.kitchen__info-list
                        .kitchen__info-list-item
                            img(src='img/check.png')
                            li Гладкие, ровные поверхности без ручек
                        .kitchen__info-list-item
                            img(src='img/check.png')
                            li «Умные» материалы фасадов —<br> нет отпечатков и царапин
            .kitchen__deal
                .kitchen__deal-item
                    .kitchen__deal-item-bold Акция!
                    .kitchen__deal-item-normal В честь 16-летия фабрики
                .kitchen__deal-item Скидки до 30% до 5 октября
            .kitchen__score
                img(src='img/time-plan.png').kitchen__score-image
                .kitchen__score-info Рассчитайте стоимость вашей кухни  в 3-х комплектациях: «Эксклюзивная», «Богатая» и «Хорошая» — и зафиксируйте&nbsp
                    span цену по акции
                .kitchen__score-block
                    a(href='#score').kitchen__score-block-btn Рассчитайте стоимость
                        span за 2 минуты
                    img(src='img/arrow-left.png').kitchen__score-block-image



