block header
    header.header
        .header__container
            .header__wrapper
                .header__row
                    .header__block
                        a(href='#').header__logo
                            img(src='img/logo.png')
                        .header__info
                            span Изготавливаем и устанавливаем
                            span кухни в Москве и области с 2004 года
                    .header__contacts
                        a(href='tel:+7 (995) 508-51-17').header__phone +7 (995) 508-51-17
                        span сейчас работаем
