doctype html
html(lang='ru')
    head
        title Лайкмебель
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(data-n-head="true" property="og:image" content="static/sharing.png")
        link(rel="shortcut icon" href="static/favicon/favicon.ico" type="image/svg")
        link(rel="apple-touch-icon" sizes="72x72" href="static/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="76x76" href="static/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="static/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="120x120" href="static/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="144x144" href="static/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="152x152" href="static/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="static/favicon/favicon.ico")

    body(tabIndex=0)
        div(id='app')
            include ../../modules/header/header
            main
                block content

