//media queries
$small-phone: 320rem;
$phone: 375px;
$mobile: 600px;

$tablet: 768px;
$tablet-landscape: 900px;

$desktop: 1110px;
$mid-desktop: 1280px;
$large-desktop: 1366px;
$big-desktop: 1600px;
$extra-desktop: 2000px;